<!DOCTYPE>

<script>
	var globalName = '<%= name %>';
	var globalGender = '<%= gender %>'
</script>

<html ng-app="babyNameApp">
<head>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>


<link rel="stylesheet" type="text/css" href="/css/nameStyle.css">

<script src="//d3js.org/d3.v3.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.min.js"></script>

<link rel="stylesheet" type="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.css">

<link rel="stylesheet" type="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.min.css">


</head>

<p id="currentNameOnClient" style="display:none;"><%= name %></p>
<p id="currentGenderOnClient" style="display:none;"><%= gender %></p>
<body ng-controller="BabyNameCtrl">
	<div class="theHeader">
		<p class="headerText">{{currentName}}'s Statistics</p>
	</div>
	<div class="container">
		<div class="svgContainer"></div>
		<div class="leftDataContiner">
			
			<div class="col-md-8">
				<p class="timelineHeader">Per Year Timeline Information</p>
				<span class="yearMarker">{{minYear}}</span>
					<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="1880" data-slider-max="2014" data-slider-step="1" data-slider-value="2001" ng-model="theCount" ng-change="changeCount();"/>
				<span class="yearMarker">{{maxYear}}</span>
			</div>
			<div class="topData col-xs-6 col-sm-6 col-md-2">
				<!--<p>year: {{theCount}} </p>-->
				<p class="timelineHeader">Count</p> 
				<p class="countText">{{currentCount}}</p>
			</div>
			<div class="topData col-xs-6 col-sm-6 col-md-2">
				<p class="timelineHeader">Prior Year Diff.</p>
				<p class="countText" ng-class="checkGain(countGain)">{{countDiff}}</p>
			</div>
		</div>
		<div class="rightDataContiner">
			
			<div class="bottomContainer col-md-8">
				<p class="timelineHeader">Year Range Timeline Information</p>
				<span class="yearMarker">{{minYear}}</span>
					<input id="ex2" data-slider-id='ex2Slider' type="text" class="span2" value="" data-slider-min="1880" data-slider-max="2014" data-slider-step="1" data-slider-value="[1900,1990]" ng-model="range" ng-change="changeRange();"/>
				<span class="yearMarker">{{maxYear}}</span>
			</div>
			<div class="bottomContainer col-xs-6 col-sm-6 col-md-2">	
				<!--<p>first Year: {{firstYear}}, Last Year: {{lastYear}} </p>-->
				<p class="timelineHeader">Total Count</p>
				<p class="countText">{{totalCount}} </p>
			</div>
			<div class="bottomContainer col-xs-6 col-sm-6 col-md-2">
				<p class="timelineHeader">Diff. in Range</p>
				<p class="countText" ng-class="checkGain(rangeDiffGain)">{{rangeDiff}}</p>

			</div>
			
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-2 backButtonContainer">
			<a class="aTagBackButton" href="../../../home/year/<%= past %>"><div class="backButton">Back to <%= past %></div></a>
		</div>
	</div>
	<div class="theFooter">
		<div class="container footerContainer">
			<p class="footerText">&#169; Danila Chenchik Industries</p>
			<a href="https://github.com/chenchik/popularBabiesNames" class="footerATag"><p class="footerText">Project Information</p></a>
		</div>
	</div>
	
	<script src="/js/nameController.js"></script>
	<script src="/js/nameD3.js"></script>
	<script src="/js/nameJs.js"></script>
	
</body>
</html>