<!DOCTYPE html>
<script>
	var globalYear = '<%= year %>';
</script>

<html ng-app="yearApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> 

<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>

<script src="//d3js.org/d3.v3.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.min.js"></script>

<link rel="stylesheet" type="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.css">

<link rel="stylesheet" type="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.min.css">
<link rel="stylesheet" type="text/css" href="/css/mainStyle.css">

</head>

<body  ng-controller="yearCtrl">
	<div class="theHeader">
		<p class="headerText">Common Baby Names</p>
	</div>
	<div class="container">		
		<div class="d3AndOthersContainer">
			<div class="otherD3Container"></div>
			<div class="belowD3Container">
				<div class="textContainer">
					<p class="questionMarkT">?</p>
					<div class="initialInfo">
						<p>This is an interactive website showing popular baby names from 1880 to 2014.</p>
						<p class="furtherInfo">Click the icon above for further information.</p>
					</div>
					
					<div class="furtherInfo" style="display:none;">
						<p>This is an interactive website showing popular baby names from 1880 to 2014.</p>
						<p>Currently, the most popular baby names of <%= year %> are displayed. To show a bubble chart of popular baby names for other years. Chose a year on the timeline below and click submit.</p>
						<p>Below the timeline is a list of names, these names represent the most popular names throughout time where popularity is defined as a name having had a count of greater than 10,000 for at least one year.</p>
						<p>You can interact with these names by restricting names by gender, or restricting them alphabetically.</p>
						<p>Clicking on a name takes you to a seperate page that displays interactive statistics for that name from 1880 to 2014.</p>
					</div>
					
				</div>
				<div class="afterInfo">
					<div class="currentYearContainer">
						<p class="currentYearTitle">Current Year</p>
						<p class="currentYearText"><%= year %></p>
					</div>
					<div class="timeContainer">
						<p class="infoText">Above are the most common baby names for <%= year %>.</p>
						<p class="infoText">Choose a year to render other common names in time. </p>
						<div class="sliderContainer">
							<span class="sliderMark">1880</span>
								<input id="homeSlider" data-slider-id='theHomeSlider' type="text" data-slider-min="1880" data-slider-max="2014" data-slider-step="1" data-slider-value="<%= year %>" ng-model="theYear" ng-change="changeCount();"/>
							<span class="sliderMark">2014</span>
							<!--<p>{{theYear}}</p>-->
							<p id="initYear" style="display:none;"><%= year %></p>
							<div class="submitTimeContainer">
								<a href="/home/year/{{theYear}}" class="aTagTimeButton"><p class="submitText">Submit</p></a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		
		</div>
	</div>
		<p class="angTitle">Below is a list of all major names throughout time.</p>
		<div class="outerAngContainer">
			<div class="angContainer">
				<div class="outerGenderContainer">
					<div class="genders">
						<div class="infoText">Click a sign to toggle gender.</div>
						<div ng-click="toggleMale();" ng-class="angMale" class="gButton male">&#9794;</div>
						<div ng-click="toggleFemale();" ng-class="angFemale" class="gButton female">&#9792;</div>
					</div>
				</div>
				<div class="alphaSliderContainer">
					<p class="infoText alphaInfoText">Move the slider to restrict order.</p>
					<span class="sliderMark alphaSliderMarker left">A</span>
						<input id="alphaSlider" data-slider-id='theAlphaSlider' type="text" data-slider-min="1" data-slider-max="26" data-slider-step="1" data-slider-value="[1,26]" ng-model="theAlphaRange" ng-change="changeAlpha();"/>
					<span class="sliderMark alphaSliderMarker right">Z</span>
					
				</div>

						
			</div>	
		</div>
	<div class="container">
		

		<div class="outerOuterLetterConatiner">
			<div class="outerLetterContainer" ng-repeat="(key,letter) in letters"ng-show="showLetter(key)">
				<div class="col-xs-12 col-sm-12 col-md-12 letterContainer">
					<p class="letterText">{{key}}</p>
				</div>
				<a href="/name/{{name.Name}}/{{name.Gender}}" ng-repeat="name in letter" ng-class="name.Gender" class="nameContainer col-xs-4 col-sm-2 col-md-1" ng-show="showGender(name.Gender)">
					<p class="namesBoxText">{{name.Name}}</p>
				</a>
			</div>
		</div>
		
		
		
	</div>
	<div class="tooltip"></div>
	<div class="theFooter">
		<div class="container footerContainer">
			<p class="footerText">&#169; Danila Chenchik Industries</p>
			<a href="https://github.com/chenchik/popularBabiesNames" class="footerATag"><p class="footerText">Project Information</p></a>
		</div>
	</div>

	<script src="/js/mainJs.js"></script>
	<script src="/js/mainD3.js"></script>	
	<script src="/js/mainController.js"></script>
</body>
</html>